{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h2>Administration du site</h2>
<ul>
  <li>
    <a href="/country">Pays</a>
  </li>
  <li>
    <a href="/trip">Voyages</a>
  </li>
  <li>
    <a href="/user">User</a>
  </li>
</ul>
{% endblock %}
