{% set user = app.session.get('user') %}

<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Accueil</a>
    </li>
    {% if user %}
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Administration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">
        {{user.firstname}} (Déconnexion)
      </a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/login">Connexion</a>
    </li>
    {% endif %}
  </ul>
</nav>
